.product-image {
  background: linear-gradient(to top, rgb(79, 79, 189), rgb(97, 192, 255));
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    max-width: 100%;
    max-height: 100%;
  }
};

.product-details {
  padding: 24px 32px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease-in-out;
};

.product {
  width: 500px;
  height: 240px;
  margin: 0 auto 50px;
  display: flex;
  overflow: hidden;
  box-shadow: -20px 18px 30px 8px rgba(0,0,0,0.25);
  cursor: pointer;
  color: #333;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: #333;
  }

  &.is-zoomed {
    .product-image {
      width: 100%;
    };
    .product-details {
      width: 0;
      padding: 0;
    }
  }
}

.product-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 4px solid #fff;
  box-shadow: inset 0 2px 2px gray;
  position: relative;
  cursor: pointer;

  &:before {
    width: 24px;
    height: 24px;
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    border-radius: 50%;
  }

  &.color-red {
    background-color: red;
  };

  &.color-black {
    background-color: black;
  }

  .active-red .color-red:before{
    border: solid 1px red;
  }

  .active-black .color-black:before{
    border: solid 1px black;
  }
}

.item-detail-page {
  box-shadow: none;
  border-radius: 0;
  width: 100%;
}